/**
 * Vizel Pre-built Stylesheet
 *
 * A standalone CSS file for projects not using Tailwind CSS.
 * Import this file to include all Vizel editor styles with sensible defaults.
 *
 * @example
 * HTML:
 * <link rel="stylesheet" href="@vizel/styles/vizel.css">
 *
 * JavaScript/TypeScript:
 * import '@vizel/styles';
 *
 * @see https://github.com/seijikohara/vizel
 */

/* Import from core package */
@import "../../core/src/styles/index.css";
